body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #FFFFFF;
  font-size: 16pt;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
  top: 0%;
  width: 100%;
  height: 150px;
  font-family: cursive;
  font-weight: 700;
  font-size: xx-large;
  display:block;
  color: #ffffff13;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #1ba31b;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #FFFFFF;
}
@media only screen and (max-width: 500px) {
  header{
    font-size: x-large;
  }
}
footer{
  padding: 10px;
  width: 100%;
  height:70px;
  bottom:0px;
  position:fixed;
  border-width: 3px 0px 0px 0px;
  border-color: #FFFFFF;
  border-style: solid;
}
header h1{
  margin: auto;
 }
main{
  height: calc(100vh - 245px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  top:10px;
  display: block;
}
.oculto{
  display: none;
  visibility: false;
}
.main div{
  padding:20px;
}
input[type="number"] {
  width: 50px;
  height: 40px;
  border-radius: 10px;
  background-color: transparent;
  border-width: 2px;
  border-style: inset;
  border-color: #FFFFFF;
  color:#FFFFFF;
  font-size: 16pt;
}
input[type="button"] {
  border-radius: 10px;
  background-color: #1ba31b;
  color:#FFFFFF;
  font-size: 14pt;
  border-width: 3px;
  border-color: #FFFFFF;
  border-style:outset;
  cursor: pointer;
}
input[type="button"]:active{
  border-style:inset;
}
.numeroSort{
  padding: 0px;
  width: 50px;
  height: 40px;
  display: inline-block;
  border-width: 2px;
  border-style: dotted;
  border-radius: 12px;
  border-color: #FFFFFF;
  margin: 2px;
}
.lista{
  max-height: 216px;
  overflow-x: auto;
  overflow-y:auto;
}
::-webkit-scrollbar {
    width: 20px;
    background: #ffffff;
}
::-webkit-scrollbar-track {
    background-color: black;
    border-color: #FFFFFF;
    border-width: 2px 0px 2px 0px;
    border-style: dotted;
}
::-webkit-scrollbar-thumb {
    background: #FFFFFF;
}